<link rel="stylesheet" href="/styles.css">


<h1>Productos en tiempo real</h1>

  <div class="form-container">
    <form id="formProducto">
      <input name="title" placeholder="Título" required />
      <input name="description" placeholder="Descripción" required />
      <input name="category" placeholder="Categoría" required />
      <input name="code" placeholder="Código" required />
      <input name="stock" placeholder="Stock" type="number" required />
      <input name="price" placeholder="Precio" type="number" required />
      <button type="submit">Agregar</button>
    </form>
  </div>

<ul id="listaProductos"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src ="/realTime.js"></script> 